<h2 style="text-align: center">Список категорій велосипедів</h2>

<h3>
    <a asp-action="Index" asp-controller="ElectroBicycle">Електричні</a>
</h3>
<h3>
    <a asp-action="Index" asp-controller="HighwayBicycle">Шосе</a>
</h3>
<h3>
    <a asp-action="Index" asp-controller="MountainBicycle">Гірські</a>
</h3>
<h3>
    <a asp-action="Index" asp-controller="GravelBicycle">Гравійні</a>
</h3>
