@model BicycleApplication.Entities.Models.Gravel
@using Entities.Enums

<h1 style="text-align: center;">Редагувати</h1>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Модель</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label">Колір</label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label">Рік випуску</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrameMaterial" class="control-label">Матеріал рами</label>
                <select class="form-control" asp-for="FrameMaterial" asp-items="Html.GetEnumSelectList<FrameMaterial>()">
                    <option selected value="2"></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="BrakeType" class="control-label">Тип тормозу</label>
                <select class="form-control" asp-for="BrakeType" asp-items="Html.GetEnumSelectList<BrakeType>()">
                    <option selected value="2"></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PedantType" class="control-label">Тип підвіски</label>
                <select class="form-control" asp-for="PedantType" asp-items="Html.GetEnumSelectList<PedantType>()">
                    <option selected value="2"></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DiameterOfWheel" class="control-label">Діаметр колеса</label>
                <input class="form-control" asp-for="DiameterOfWheel"></input>
                <span asp-validation-for="DiameterOfWheel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TireWidth" class="control-label">Ширина шини</label>
                <input class="form-control" asp-for="TireWidth"></input>
                <span asp-validation-for="TireWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandlebarWidth" class="control-label">Ширина керма</label>
                <input class="form-control" asp-for="HandlebarWidth"></input>
                <span asp-validation-for="HandlebarWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Ціна</label>
                <input class="form-control" asp-for="Price"></input>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>