<h3 style="text-align: center;">
    Електричний велосипед
</h3>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Тип шасі</h5>
        </div>
        <p class="mb-1">Електричний велосипед: Електричні велосипеди оснащені електричним двигуном, який допомагає райдеру просуватися без зайвих зусиль. Вони можуть мати різні типи рами в залежності від призначення та стилю їзди.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Рама:</h5>
        </div>
        <p class="mb-1">Матеріал рами: Електричні велосипеди можуть мати рами з алюмінію, карбону або сталі, як і звичайні велосипеди. Вибір матеріалу залежить від призначення та бюджету.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Колеса:</h5>
        </div>
        <p class="mb-1">Розмір коліс: Електричні велосипеди можуть мати різний розмір коліс, зазвичай 26, 27.5 або 29 дюймів для гірських моделей і 700c для шосейних та міських варіантів.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Батарея:</h5>
        </div>
        <p class="mb-1">Ємність батареї: Електричні велосипеди оснащені літій-іонними батареями різної ємності. Велика ємність дозволяє проїздити більшу відстань на одному заряді, але може збільшувати вагу велосипеда.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Швидкість:</h5>
        </div>
        <p class="mb-1">Максимальна швидкість: Електричні велосипеди мають різну максимальну швидкість залежно від типу двигуна та регулювань. Деякі моделі можуть досягати швидкості до 25 км/год, в той час як інші можуть мати обмежену швидкість до 45 км/год.</p>
    </a>
</div>
<h3>
    <a asp-action="Index" asp-controller="ElectroBicycle">Побачити моделі</a>
</h3>