<h3 style="text-align: center;">
    Гравійний велосипед
</h3>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Тип шасі</h5>
        </div>
        <p class="mb-1">Гравійний велосипед: Велосипеди для гравійних доріг і бездоріжжя, як правило, мають жорстку раму і агресивний рульовий кут, що забезпечує краще керування на нерівних поверхнях.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Рама:</h5>
        </div>
        <p class="mb-1">Матеріал рами: Гравійні велосипеди можуть мати рами з алюмінію, карбону або сталі. Кожен матеріал має свої переваги, наприклад, алюмінієва рама є легкою і стійкою, карбонова рама має краще віброгасіння, а сталева рама дуже міцна та дешевша.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Колеса:</h5>
        </div>
        <p class="mb-1">Розмір коліс: Гравійні велосипеди часто мають колеса діаметром 700c, але також можуть використовувати колеса 650b для більшого обсягу шин на бездоріжжі. Колеса з невеликим профілем шини забезпечують хороше управління на дорозі та стабільність на бездоріжжі.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Передачі:</h5>
        </div>
        <p class="mb-1">Кількість передач: Гравійні велосипеди зазвичай оснащені трансмісіями з меншою кількістю передач, зазвичай від 1 до 11 швидкостей. Це дозволяє райдеру знаходити оптимальний ритм педалювання на різних ділянках маршруту та підйомах без зайвого зусилля.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Гальма:</h5>
        </div>
        <p class="mb-1">Тип гальм: Гравійні велосипеди можуть мати дискові гальма або ободні гальма. Дискові гальма забезпечують краще гальмування та контроль у всіх умовах, в той час як ободні гальма легші та простіші в обслуговуванні.</p>
    </a>
</div>
<h3>
    <a asp-action="Index" asp-controller="GravelBicycle">Побачити моделі</a>
</h3>