<h3 style="text-align: center;">
    Шосе велосипед
</h3>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Тип шасі</h5>
        </div>
        <p class="mb-1">Призначення велосипедів для шосе: Велосипеди для шосе спеціально розроблені для швидкого пересування по асфальтованим дорогам. Вони мають легку конструкцію, жорстку раму і вузькі шини, що забезпечують найбільшу ефективність на асфальті.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Рама:</h5>
        </div>
        <p class="mb-1">Матеріал рами: Титанова, карбонова або алюмінієва рама. Титанові рами є легкими і міцними, карбонові рами дуже легкі і мають хорошу віброгасіння, алюмінієві рами легкі та відносно дешеві.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Колеса:</h5>
        </div>
        <p class="mb-1">Розмір коліс: Шосейні велосипеди зазвичай мають колеса діаметром 700с. Це розмір колеса, який забезпечує найбільшу ефективність на шосе.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Передачі:</h5>
        </div>
        <p class="mb-1">Кількість передач: Шосейні велосипеди зазвичай оснащені трансмісіями з великою кількістю передач, зазвичай від 16 до 22 швидкостей. Це дозволяє райдеру знаходити оптимальний ритм педалювання на різних ділянках шосе.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Гальма:</h5>
        </div>
        <p class="mb-1">Тип гальм: Шосейні велосипеди зазвичай мають ободні гальма або дискові гальма. Ободні гальма є легкими і простими для обслуговування, а дискові гальма забезпечують кращий контроль та гальмування у всіх умовах.</p>
    </a>
</div>
<h3>
    <a asp-action="Index" asp-controller="HighwayBicycle">Побачити моделі</a>
</h3>