<h3 style="text-align: center;">
    Гірський велосипед
</h3>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Тип шасі</h5>
        </div>
        <p class="mb-1">Жорстке шасі (Hardtail): Велосипеди з передньою амортизацією, але без задньої підвіски. Вони легші та ефективніше передають силу педалювання, але менш комфортні на нерівностях.</p>
        <p class="mb-1">Повністю підвішені (Full Suspension): Велосипеди з передньою і задньою амортизацією. Вони забезпечують краще поглинання ударів та краще тримання на нерівностях, але можуть бути важчими і менш ефективними при педалюванні на рівній дорозі.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Рама</h5>
        </div>
        <p class="mb-1">Матеріал рами: Алюмінієва, карбонова або сталева рама. Алюмінієві рами легкі та стійкі до корозії, карбонові рами краще поглинають вібрації та є дуже легкими, а сталеві рами мають високу міцність та довговічність.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Колеса</h5>
        </div>
        <p class="mb-1">Розмір коліс: Гірські велосипеди зазвичай мають колеса діаметром 27,5 або 29 дюймів. Колеса 29 дюймів забезпечують краще подолання перешкод і більшу стабільність на високих швидкостях, тоді як колеса 27,5 дюймів можуть бути більш маневреними.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Передачі</h5>
        </div>
        <p class="mb-1">Кількість передач: Гірські велосипеди можуть мати від 1 до 12 передач. Велика кількість передач забезпечує гнучкість у виборі швидкості та допомагає подолати різні умови траси, від крутого підйому до швидкого спуску.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Призначення гірських велосипедів</h5>
        </div>
        <p class="mb-1">Крос-кантрі (XC): Легкі та швидкі велосипеди, призначені для швидкого пересування по гірських трасах та перегонів.</p>
        <p class="mb-1">Ендуро (Enduro): Велосипеди для агресивного катання на технічних трасах зі спусками.</p>
        <p class="mb-1">Фрірайд (Freeride): Велосипеди для екстремального катання на великих висотах із численними перешкодами.</p>
        <p class="mb-1">Даунхіл (Downhill): Велосипеди, спеціально розроблені для швидкого та агресивного спуску з гори.</p>
    </a>
</div>
<h3>
    <a asp-action="Index" asp-controller="MountainBicycle">Побачити моделі</a>
</h3>
